<footer class="global-footer">
  <div class="collapse toggle-area" id="collapseExample">
    <div class="container mt50 mb50">
      <div class="row">
        <div class="col-sm-4">

          <ul class="social">
            <li>
              <a href="javascript:void(0);" class="fa fa-facebook"></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="fa fa-twitter"></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="fa fa-instagram"></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="fa fa-youtube-square"></a>
            </li>
          </ul>

        </div>
        <div class="col-sm-8">
          <div class="row">
          


            <div class="col-sm-3">
              <h4 class="decorated-heading">
                <span>Contacto</span>
              </h4>
              <ul class="footer-nav">
                <li><a href="javascript:void(0);">4286879129</a></li>
                <li><a href="javascript:void(0);">sandraf.gpgp@gmail.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    &copy; 2018 GITI9091 | Sandra Gonzalez Puente.
  </div>
  <div class="toggle-button"  data-toggle="collapse" href="#collapseExample">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </div>
</footer>
