<p>Juntando todo lo anterior, y añadiendo alguna cosilla más de
  nuestra cosecha, podemos <a href='code/curl.rb'>bajarnos una página web y
    meterla en un fichero</a></p>




<% @body_id = 'vision-page' %>

<% end %>
